* {
    font-family: "Philosopher", sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header     header"
        "main       main"
        "aside      aside"
        "footer     footer";

    grid-template-columns: 5fr 1fr;
    @import "./partials/header";
    @import "./partials/main";
    @import "./partials/aside";
    @import "./partials/footer";


    @media screen and (min-width: 768px) {

        grid-template-areas:
            "header     header"
            "main       aside"
            "footer     footer";
    }

}

@media screen and (min-width: 992px) {
    body {
        grid-template-areas:
            "header     header"
            "main       aside"
            "footer     footer";
    }
    .texto-imagen li {
        flex-wrap: nowrap;
    }
    .seccion1{
        flex-direction: row;
    }
}