footer {
    display: flex;
    background-color: $color-principal;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: footer;
    color: #fefefe;
    padding: 20px;
    p{
        margin: 0;
    }
}

